[
  {rabbit, [
    {ssl_listeners, [5671]},
    {tcp_listeners, [5672]},
    {log, [
      {console, [{level, info}]},
      {file, [{level, debug}]}
    ]}
  ]},
  {amqp_client, [
     {ssl_options, [
       {cacertfile,"/etc/ssl/certs/rabbitmq_ca.pem"},
       {customize_hostname_check, [
         {match_fun,
           fun (ReferenceId, PresentedId) ->
             F = public_key:pkix_verify_hostname_match_fun(https),
             F(ReferenceId, PresentedId)
           end}
       ]}
     ]}
  ]},
  {management, [
    {listener, [{port, 15672}, {ip, "0.0.0.0"}]}
  ]}
].